modules = ["php-8.2", "web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "inicio"
mode = "sequential"
author = 65562387

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."

[[ports]]
localPort = 5000
externalPort = 80
